# Node.js dependencies
node_modules/
package-lock.json

# JSON Server data files (optional)
db.json
*.log

# Environment variables
.env

# Editor & OS specific files
.DS_Store
.vscode/
.idea/
Thumbs.db
